div, select,button {
    background-color: #444 !important;
    color: #d2d0d0 !important;
}
h1,h2,h3,h4,h5,h6,p,a,span,label,svg {
    color: #fff !important;
}
h1,h2,h3,h4 {
    margin : 0.5em;
}
body {
    font-family: sans-serif;
    align-items: center;
    background-color: #1c2437 !important;
    color: #b3b3b3 !important;

}
input {
    font-family: sans-serif;
}
.container {
    min-width: 40vw;
    width: fit-content;
    min-height: 650px;
    height: fit-content;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    align-content: center;
    
}
.container > tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.add {
    margin-left: 10px;
}
tr > td {
    margin : 5px;
    color: white;
    
}
.item {
    justify-content: space-around;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    object-fit: contain;

}
.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    color: white;
}
table {
    padding-left: 25px;
    padding-right: 25px;
}
form > .ingredient {
    display: flex;
    flex-direction: row;
    color: white;
    object-fit: contain;
    height: 40px;
    align-items: center;
}
form {
    margin-left: 20px;
    margin-right: 20px;
}
#creating-recipes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.recipe {
    margin-inline-start: 30px;
}