body {
    font-family: sans-serif;
    align-items: center;
    background-color: #384051;
}
.container {
    width: 95vw;
    height: 650px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.container > div {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.add {
    margin-left: 10px;
}